<%= provide(:title, @user.name) %>
<div class="jumbotron">
  <div class="container">
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
    <h1>
      <%= gravatar_for @user %>
      <span class="show_name"><%= @user.name %></span>
    </h1>
    <p><%= @user.email %></p>
    <p class="small created"><strong><%= Time.now %></strong> | <%= @user.created_at %> / <%= @user.updated_at %></p>
  </div>
</div>
